#table_properties {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
}

#table_properties td,
#table_properties th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table_properties tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table_properties tr:hover {
  background-color: #ddd;
}

#table_properties th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
